 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ezgif.com-gif-maker2.webp");
  background-position: 0% 9.34%;
}

.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-group-1 {
  width: 955px;
  min-height: 421px;
  margin: 127px auto 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 66px 20px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(107,71,72,0.2);
  font-size: 4.5rem;
  margin: 66px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 1px;
    margin-right: 1px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 901px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px auto;
}

.u-section-2 .u-image-1 {
  min-height: 484px;
  background-image: url("images/1.webp");
  background-position: 50% 7.08%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.4;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  font-weight: normal;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 314px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  margin: 20px 190px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 527px;
  background-image: url("images/2.webp");
  background-position: 50% 28.89%;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 987px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 399px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 90px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 435px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1902px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 611px;
    order: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 666px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 458px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1310px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 288px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 1px;
  }

  .u-section-2 .u-image-2 {
    min-height: 315px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 656px;
}

.u-section-3 .u-layout-wrap-1 {
  min-height: 576px;
  margin: 40px 0;
}

.u-section-3 .u-image-1 {
  min-height: 606px;
  background-image: url("images/3.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 606px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 7px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 57px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 606px;
  background-image: url("images/4.webp");
  background-size: auto 165%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 38px;
    min-height: 258px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-3 .u-image-2 {
    min-height: 618px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-3 .u-image-1 {
    min-height: 764px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 764px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 764px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1890px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 1216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 442px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 987px;
    background-size: auto 170%;
    background-position: 71.57% 49.42%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 578px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 545px;
  }

  .u-section-3 .u-image-2 {
    min-height: 606px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-4 .u-image-1 {
  min-height: 531px;
  background-image: linear-gradient(0deg, rgba(219,84,90,0.35), rgba(219,84,90,0.35)), url("images/5.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 277px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  line-height: 1.4;
  margin: 0 190px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 17px 0 0 20px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 292px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.4;
  margin: 1px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 516px;
  background-image: url("images/a7746564-6e1a-5db9-d8b0-23d4a4b47eb6.webp");
  background-position: 50% 25.02%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-image-1 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }

  .u-section-4 .u-image-2 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1883px;
  }

  .u-section-4 .u-image-1 {
    min-height: 671px;
    order: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 651px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-4 .u-image-1 {
    min-height: 503px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-2 {
    min-height: 488px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 1px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-4 .u-image-2 {
    min-height: 307px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1598px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 1px auto 40px;
}

.u-section-5 .u-repeater-1 {
  min-height: 1557px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-1 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 50% 33.7%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-2 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 50% 33.69%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-3 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 83.69%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-4 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 83.69%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-5 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 48.92%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-text-11 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-12 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-6 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 83.69%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-text-13 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-14 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-7 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 96.45% 83.69%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-text-15 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-16 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-8 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 51.09%;
  margin: 6px 17px 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-text-17 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-18 {
  font-weight: 400;
  font-style: italic;
  margin: 6px auto 0;
}

.u-section-5 .u-image-9 {
  height: 369px;
  text-align: left;
  width: 346px;
  object-position: 45.9% 83.69%;
  margin: 6px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 1284px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 2459px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-7 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-8 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-9 {
    height: 363px;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 924px;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 937px;
  margin: 90px auto 90px 102px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/16.webp");
  min-height: 348px;
  background-position: 9.25% 32.44%;
  background-size: 140%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/19.webp");
  min-height: 347px;
  background-position: 50% 0%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/17.webp");
  min-height: 297px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 225px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-link-1 {
  font-size: 3rem;
  margin: 24px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 20px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/20.webp");
  min-height: 235px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-5 {
  background-image: url("images/18.webp");
  min-height: 348px;
  background-position: 23.88% 17.22%;
  background-size: 130%;
}

.u-section-6 .u-image-6 {
  background-image: url("images/21.webp");
  min-height: 347px;
  background-position: 32.44% 34.24%;
  background-size: 250%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 773px;
    margin-left: 84px;
  }

  .u-section-6 .u-image-1 {
    min-height: 287px;
  }

  .u-section-6 .u-image-2 {
    min-height: 286px;
  }

  .u-section-6 .u-image-3 {
    min-height: 245px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-4 {
    min-height: 194px;
  }

  .u-section-6 .u-image-5 {
    min-height: 287px;
  }

  .u-section-6 .u-image-6 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 592px;
    margin-left: 64px;
  }

  .u-section-6 .u-image-1 {
    min-height: 330px;
  }

  .u-section-6 .u-image-2 {
    min-height: 329px;
  }

  .u-section-6 .u-image-3 {
    min-height: 281px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-4 {
    min-height: 223px;
  }

  .u-section-6 .u-image-5 {
    min-height: 659px;
  }

  .u-section-6 .u-image-6 {
    min-height: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 492px;
    margin-left: 48px;
  }

  .u-section-6 .u-image-1 {
    min-height: 495px;
  }

  .u-section-6 .u-image-2 {
    min-height: 494px;
  }

  .u-section-6 .u-image-3 {
    min-height: 422px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-4 {
    min-height: 335px;
  }

  .u-section-6 .u-image-5 {
    min-height: 494px;
  }

  .u-section-6 .u-image-6 {
    min-height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 310px;
    margin-left: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 312px;
  }

  .u-section-6 .u-image-2 {
    min-height: 311px;
  }

  .u-section-6 .u-image-3 {
    min-height: 266px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-6 .u-link-1 {
    margin-top: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    min-height: 211px;
  }

  .u-section-6 .u-image-5 {
    min-height: 311px;
  }

  .u-section-6 .u-image-6 {
    min-height: 310px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 924px;
  margin: 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 937px;
  margin: 90px auto 90px 102px;
}

.u-section-7 .u-image-1 {
  min-height: 348px;
  background-image: url("images/81d0ee44-9d84-c64a-0bd7-ec55a9e6c61d.jpg");
  background-position: 18.34% 57.92%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/a112e135-4ec0-bb99-7f2c-b87e55d0a3dd.jpg");
  min-height: 347px;
  background-position: 32.76% 22.28%;
  background-size: 200%;
}

.u-section-7 .u-image-3 {
  background-image: url("images/579e8a90-5b74-858d-0eda-4d3c48c2baec.jpg");
  min-height: 297px;
  background-position: 79.68% 28.17%;
  background-size: 175%;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 225px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-link-1 {
  font-size: 3rem;
  margin: 24px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 20px;
}

.u-section-7 .u-image-4 {
  background-image: url("images/c4a81f5f-f3c6-2559-cbe2-7f0539547eac.jpg");
  min-height: 235px;
  background-position: 73.83% 32.88%;
  background-size: 150%;
}

.u-section-7 .u-image-5 {
  background-image: url("images/14482043-af04-ee0e-ca6c-8a4c37b15b43.jpg");
  min-height: 348px;
  background-position: 50% 50%;
  background-size: 130%;
}

.u-section-7 .u-image-6 {
  background-image: url("images/373dc61b-d2f3-24ee-9e2a-97c108c95ab4.jpg");
  min-height: 347px;
  background-position: 50% 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 773px;
    margin-left: 84px;
  }

  .u-section-7 .u-image-1 {
    min-height: 287px;
    background-size: 140%;
  }

  .u-section-7 .u-image-2 {
    min-height: 286px;
  }

  .u-section-7 .u-image-3 {
    min-height: 245px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-image-4 {
    min-height: 194px;
  }

  .u-section-7 .u-image-5 {
    min-height: 287px;
  }

  .u-section-7 .u-image-6 {
    min-height: 286px;
    background-size: 250%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 592px;
    margin-left: 64px;
  }

  .u-section-7 .u-image-1 {
    min-height: 330px;
  }

  .u-section-7 .u-image-2 {
    min-height: 329px;
  }

  .u-section-7 .u-image-3 {
    min-height: 281px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-4 {
    min-height: 223px;
  }

  .u-section-7 .u-image-5 {
    min-height: 659px;
  }

  .u-section-7 .u-image-6 {
    min-height: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 492px;
    margin-left: 48px;
  }

  .u-section-7 .u-image-1 {
    min-height: 495px;
  }

  .u-section-7 .u-image-2 {
    min-height: 494px;
  }

  .u-section-7 .u-image-3 {
    min-height: 422px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-4 {
    min-height: 335px;
  }

  .u-section-7 .u-image-5 {
    min-height: 494px;
  }

  .u-section-7 .u-image-6 {
    min-height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 310px;
    margin-left: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 312px;
  }

  .u-section-7 .u-image-2 {
    min-height: 311px;
  }

  .u-section-7 .u-image-3 {
    min-height: 266px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-7 .u-link-1 {
    margin-top: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    min-height: 211px;
    background-position: 71.25% 41.19%;
  }

  .u-section-7 .u-image-5 {
    min-height: 311px;
  }

  .u-section-7 .u-image-6 {
    min-height: 310px;
    background-position: 14.73% 48.37%;
    background-size: 250%;
  }
} .u-section-8 {
  background-image: none;
  min-height: 720px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 720px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-8 .u-line-1 {
  width: 50px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-8 .u-text-2 {
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-8 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 30px auto 0;
}

.u-section-8 .u-text-3 {
  width: 408px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-8 .u-text-4 {
  width: 408px;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-8 .u-image-1 {
  min-height: 720px;
  background-image: url("images/photo_2022-02-08_12-11-19.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 594px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-8 .u-image-1 {
    min-height: 594px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 455px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    width: 300px;
  }

  .u-section-8 .u-text-4 {
    width: 300px;
  }

  .u-section-8 .u-image-1 {
    min-height: 455px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 341px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 683px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 215px;
  }

  .u-section-8 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-8 .u-image-1 {
    min-height: 430px;
    order: 0;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/pexelsphoto11870792.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-group-1 {
  width: 748px;
  min-height: 191px;
  margin: 148px auto 60px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 4.5rem;
  margin: 32px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 617px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 472px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 443px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }
}